*{
    margin: 0;
    padding: 0;
    background-color: #1b202e;
	font-family: 'Century gothic';
	text-decoration: none;
	list-style: none;
	
	
}

.topo{
	height: 5vh;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #CCC;

}
.topo a{
	color: aliceblue;
}
.topo ul li{
	
	color: aliceblue;
	margin-top: 13px;
	font-size: 20px;
	margin-left: 2vw;
	
	display: inline-block; 
}

.imagem-pro{
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid white;
}

/*inicio do meu section oque faço*/
.corpo1{
	border-bottom: 1px solid white;
	color: aliceblue;
}
.columns{
	
	position: static;
	margin: auto;
	display: grid;
	width:980px ;
	height: 510px;
	max-height: 510px;
}

.conteiners{
	
	justify-content: center;
	position: static;
	margin: auto;
	display: grid;
	display: flex;
	flex-direction: row;
	padding-top: 0px ;
}

.h2columns{
	font-size: 30px;
	position: relative;
    top:50px;
	text-align: center;
	
}

.social{
	
	width: 326px;
	height: 510px;

}

.socialicon{
	padding-top: 12vh;
	width: 7.5rem;
	display: flex;
	padding-left: 5vw;
}

.h3-midia{
	text-align: center;
	font-size: 25px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.span-social{
	padding-top: 60px;
	display: flex;
	justify-content: center;
}
.span-dev{
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
.span-iden{
	padding-top: 30px;
	display: flex;
	justify-content: center;
}

.desenvolvimento{

	width: 330px;
	height: 510px;
	
}
.socialicon1{
	padding-top: 12vh;
	width: 7.5rem;
	display: flex;
	padding-left: 5vw;
}

.identidade{

	width: 326px;
	height: 510px;
	
}
.socialicon2{
	padding-top: 12vh;
	width: 7.5rem;
	display: flex;
	padding-left: 5vw;
}


button.btn{
	cursor: pointer;
	margin-bottom: 2rem;
	justify-content: center;
	position: relative;
	font-size: 20px;
	margin-left: 35vw;
	border-radius: 30px;
	width: 30vw;
	height: 6vh;
	background: rgb(255, 255, 255);
	color: black;
	border: none;
	background: linear-gradient(90deg, rgb(55, 232, 255) 0%,  rgb(255, 0, 119) 100%);
	box-shadow: 0em 0em 1em rgba(0, 140, 255, 0.26) ; 
	transition: all .3s ease;
}

.btn:hover{
	border: none;
	
	box-shadow: 0em 0em 0.1em rgba(0, 215, 243, 0.438) ;
	
	transition: all .3s ease;
	width: 32vw;
	height: 6vh;
}

.orcamento{
	color: aliceblue;
	text-decoration: none;
	background: none;
}
/*Final do meu section oque*/






/* Inicio DA MINHA SECTION SKILL*/ 

.skill{

	color: aliceblue;
	text-align: center;
	
}
.skill h2{
	padding-top: 2vh;
	font-size: 6vh;
	display: flex;
	justify-content: center;
}

span{
	color: white;
		
}
.corpo{
	border-bottom: 1px solid white;
	max-width: 100vw;
	height: 46vh;
}
.sessao{
	
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 3vh;
}

.todos{
	align-items: center;
    width: 100%;
	display: flex;
	flex-direction: column;
}
.container {
	box-shadow: 0.1em 0.1em 0.5em rgb(124, 246, 255);
	margin-bottom: 20px;
	text-align: center;
	height: 150px;
	width: 350px;
	border-radius: 15px;
    height: 25px;
    background-color: #CCC;
    position: relative;
}
.container .progress-bar{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.562);
   position: absolute;
   border-radius: 15px;
   height: 100%;
   background: linear-gradient(90deg, rgb(55, 232, 255) 0%,  rgb(255, 0, 119) 100%);
   animation: progress-animation 1s forwards;
}
@keyframes progress-animation{
    0% { width: 5%; } 
    100% { width: 90%}
}

.container1 {
	box-shadow: 0.1em 0.1em 0.5em rgb(124, 246, 255);
	margin-bottom: 20px;
	text-align: center;
	height: 150px;
	width: 350px;
	border-radius: 15px;
    height: 25px;
    background-color: #CCC;
    position: relative;
}
.container1 .progress-bar1{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.562);
   position: absolute;
   border-radius: 15px;
   height: 100%;
   background: linear-gradient(90deg, rgb(55, 232, 255) 0%,  rgb(255, 0, 119) 160%);
   animation: progress-animation1 1s forwards;
}
@keyframes progress-animation1{
    0% { width: 5%; } 
    100% { width: 75%}
}



.container2 {
	box-shadow: 0.1em 0.1em 0.5em rgb(124, 246, 255);
	margin-bottom: 20px;
	text-align: center;
	height: 150px;
	width: 350px;
    height: 25px;
	border-radius: 15px;
    background-color: #CCC;
    position: relative;
}
.container2 .progress-bar2{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.562);
   position: absolute;
   border-radius: 15px;
   height: 100%;
   background: linear-gradient(90deg, rgb(55, 232, 255) 0%,  rgb(255, 0, 119) 180%);
   animation: progress-animation2 1s forwards;
}
@keyframes progress-animation2{
    0% { width: 10%; } 
    100% { width: 50%}
}

.container4 {
	box-shadow: 0.1em 0.1em 0.5em rgb(124, 246, 255);
	margin-bottom: 20px;
	text-align: center;
	height: 150px;
	width: 350px;
	border-radius: 15px;
    height: 25px;
    background-color: #CCC;
    position: relative;
}
.container4 .progress-bar4{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.562);
   position: absolute;
   border-radius: 15px;
   height: 100%;
   background: linear-gradient(90deg, rgb(55, 232, 255) 0%,  rgb(255, 0, 119) 100%);
   animation: progress-animation4 1s forwards;
}
@keyframes progress-animation4{
    0% { width: 5%; } 
    100% { width: 30%}
}

.container5 {
	box-shadow: 0.1em 0.1em 0.5em rgb(124, 246, 255);
	
	text-align: center;
	height: 150px;
	width: 350px;
	border-radius: 15px;
    height: 25px;
    background-color: #CCC;
    position: relative;
}
.container5 .progress-bar5{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.562);
   position: absolute;
   border-radius: 15px;
   height: 100%;
   background: linear-gradient(90deg, rgb(55, 232, 255) 0%,  rgb(255, 0, 119) 160%);
   animation: progress-animation5 1s forwards;
}
@keyframes progress-animation5{
    0% { width: 5%; } 
    100% { width: 40%}
}


/* FINAL DA MINHA SECTION SKILL*/ 
/*trasição 1*/
.row{
	display: flex;
	justify-content: center;
	align-content: center;
	
}

#slider {
	margin-left: 1vw;
	border-radius: 25px;
	margin-top: 2vh;
    width: 25.5vw;
    height: 53.2vh;
	background-color: floralwhite;

    position: relative;
}

#slider img{
	
	border-radius: 25px;
	margin-top: 3vh;
	margin-left: 1vw;
    width: 45vw;
    height: 50vh;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	
    opacity: 0;

    position: absolute;

    width: 23vw;
    height: 47vh;

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
	border-radius: 25px;
	width: 23vw;
    height: 47vh;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
    opacity: 1;
}

/*final da transição1*/ 
.row2{
	display: flex;

	align-content: center;
	margin-left: 1vw;
}
.row1{
	display: flex;

	align-content: center;
	margin-left: 1vw;
}


.trabalhos{
    
	padding-top: 6vh;
	font-size: 6vh;
	display: flex;
	justify-content: center;
	color: aliceblue;
	text-align: center;
}

.imagem-hamburgue{

	width: 320px;
	border-radius: 25px;
	display: flex;
	margin-left: 1vw;
	margin-top: 2vh;
	justify-content: center;
}
.caixa{
    
	display: inline-block;
	flex-direction: row;
	align-content: center;
	margin-left: 10.5vw;
	margin-top: 10vh;
	width: 350px;
	height: 350px;
	border-radius: 25px;
	background-color: rgb(255, 255, 255);
}

.conteiner-btn .btn{
	padding: 30px;
	margin: auto;
	display: flex;
	justify-content: center;
	

	
}
.botao{
	
	background: linear-gradient(90deg, rgb(55, 232, 255) 0%,  rgb(255, 0, 119) 180%);
	border-radius: 25px;
	width: 150px;
	height: 45px;
	font-size: 15px;
	font-weight: bold;
	border-style: none;
	color: rgb(255, 255, 255);
	text-shadow: .1em 0.1em 0.5em rgb(35, 104, 161);
	cursor: pointer;
	transition: all .6s;

}

.vertodos{
	color: aliceblue;
	text-decoration: none;
	background: none;
}
.botao:hover{
	border-radius: 30px;
	font-size: 18px;
	width: 150px;
	height: 40px;
	transition: all .3s;
}

.trabalho{
	color: aliceblue;
	box-shadow: 1em 0.2em .5em rgba(0, 0, 0, 0.493);
	margin-top: 4vh;
	background-color: rgb(29, 139, 235);
	width: 100%;
	height: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

/*INICIO DO MEU CONTATO*/

.caixa-contato{
	padding-left: 10vw;
	padding-top: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}
.h1contato{
	font-size: 60px;
	color: aliceblue;
}

.caixa-contato span{
	font-size: 18px;
	display: flex;
	margin-left: 2vw;
}

.caixa-contato a{
	font-size: 20px;
	color: aliceblue;
}


.socialicones{
	padding-top: 10px;
	margin-left: 10vw;
}

.socialicones a{
color: aliceblue;
font-size: 35px;
margin-left: 10px;
}

.img-contato img{
	width: 30%;
	margin-left: 65vw;
	margin-top: -40vh;
}


/*Final DO MEU CONTATO*/



/* COMEÇA MEU SOBRE */
.main-sobre{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px;
	color: aliceblue;
}


.quemsou h1{
	font-size: 30px;
	padding: 10px;
	text-align: center;
}

.main-sobre h2{
	padding: 10px;
	text-align: center;
}
p{
	padding: 10px;
}

.formacao h2{
	display: flex;
	justify-content: center;
	text-align: center;
}
.formacao{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
	color: aliceblue;
}



.fomracao-skill-medio{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left:25vw;
	width: 50%;

}

@keyframes progress-animation01{
    0% { width: 10%; } 
    100% { width: 100%;}
}

.formacao-container-lateral {
	border: 1px solid rgb(122, 122, 122);
	margin: 2px;
	margin-left: 2px;
	margin-right: 2px;
	height: 2vh;
	width: 10vw;
	border-radius: 2px;
    background-color: #CCC;
    position: relative;
	transition: all .2s ease;
}
.formacao-container-lateral .progresso-bar-lateral{
	justify-content: center;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.562);
   position: absolute;
   border-radius: 2px;
   height: 100%;
   background: rgb(4, 149, 206);
   animation: progress-animation01 1s forwards;
   
}

.formacao-container-lateral-sem {
	border: 1px solid rgb(204, 204, 204);
	margin: 2px;
	height: 2vh;
	width: 10vw;
	border-radius: 2px;
    background-color: #CCC;
    position: relative;
	transition: all .2s ease;
}
.formacao-container-lateral-sem .progresso-bar-lateral-sem{
	justify-content: center;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.562);
   position: absolute;
   border-radius: 2px;
   height: 100%;
   
}

.linguagem{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
	color: aliceblue;
}

.historico{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
	
	color: aliceblue;
}

.historico-profissional{
	color: aliceblue; 
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
}
.historico-full{

	display: flex;
	flex-direction: column;
	text-align: center;
}

.historico-full p{
	margin-top: 30px;
	
	text-align: center;
}

.historico-full span{

	margin-bottom: 50px;
}

/* TERMINA MEU SOBRE */



@media screen and (min-width: 300px){
		
	
	.corpo{
	
		height: 27vh;
	}

	section .h2columns{
		margin-top: 8vh;
	}

	section .conteiners{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 3rem;
	}

	.conteirners .h3-midia{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
	}

	.socialicon2{
		margin-left: 50px;
	}

	.socialicon1{
		margin-left: 50px;
	}

	.desenvolvimento .span-dev{
		padding-left: 150px;
	}

	.social h3{
		display: flex;
		flex-direction: column;
		margin-right:100px ;
	}

	

	.butao .btn{
		margin-left: 260px;
		height: 60px;
		width: 450px
	}
}
